.jumbotron {
    background-color: transparent;
    padding: 25px 0;
    h1 {
        font-size: 50px;
        margin-bottom: 25px;
        text-align: left;
    }
}

.compat-form {
    .form-title {
        font-size: 18;
        font-weight: bold;
    }

    .form-submit-btn {
        font-size: 18;
        margin-top: 15px;
    }

    td {
        padding-bottom: 8px;
    }
}

.results {
    .results-table-header {
        font-weight: bold;
        font-size: 14pt;
    }

    .table-col-rank {
        font-size: 16pt;
    }

    .table-col-image {
        width: 64;
    }

    .table-col-main-text {
        font-size: 13pt;
    }
}

.result-section-header {
    font-size: 18pt;
}

.compatibility-scores {
    margin-top: 15px;
}

.compatibility-scores {
    text-align: center;

    .compatibility-score {
        padding-right: 80px;

        .compatibility-score-num {
            font-size: 40pt;
            font-weight: 800;
        }

        .compatibility-score-label {
            text-transform: uppercase;
            font-weight: 100;
            color: #C4C4C4;
        }
    }
}

#footer {
    p {
        font-size: 12pt;
        margin-bottom: 0px;
    }
}