.jumbotron {
  padding: 25px 0;
}
.jumbotron h1 {
  font-size: 50px;
  margin-bottom: 25px;
}
.compat-form .form-title {
  font-size: 18;
  font-weight: bold;
}
.compat-form .form-submit-btn {
  font-size: 18;
}
.compat-form td {
  padding-bottom: 8px;
}
.artist-results .results-table-header {
  font-weight: bold;
  font-size: 14pt;
}
.artist-results .table-col-artist-image {
  width: 64;
}
.artist-results .table-col-rank {
  font-size: 16pt;
}
.artist-results .table-col-artist {
  font-size: 13pt;
}
