.jumbotron {
  padding: 25px 0;
}
.jumbotron h1 {
  font-size: 50px;
  margin-bottom: 25px;
}
.compat-form .form-title {
  font-size: 18;
  font-weight: bold;
}
.compat-form .form-submit-btn {
  font-size: 18;
}
.compat-form td {
  padding-bottom: 8px;
}
.results .results-table-header {
  font-weight: bold;
  font-size: 14pt;
}
.results .table-col-rank {
  font-size: 16pt;
}
.results .table-col-image {
  width: 64;
}
.results .table-col-main-text {
  font-size: 13pt;
}
.result-section-header {
  font-size: 18pt;
}
.compatibility-scores {
  margin-top: 15px;
}
.compatibility-score {
  font-size: 16pt;
  padding: 8px;
  margin-right: 10px;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 1px solid #000000;
}
.compatibility-score span {
  padding-bottom: 3.2;
}
