<form class="compat-form">
    <table>
        <tr>
            <td class="form-title">First Person:</td>
            <td><input type="text" name="first"
                ng-model="person.first"></td>
        </tr>
        <tr>
            <td class="form-title">Second Person:</td>
            <td><input type="text" name="second"
                ng-model="person.second"></td>
        </tr>
        <tr>
            <td><input type="submit"
                value="Find Compatibility" class="form-submit-btn"
                ng-click="submitMainForm()"></td>
        </tr>
    </table>
</form>